* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f2f2f2;
}



.header-area {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("https://media.istockphoto.com/id/1431603444/photo/software-developer-at-the-office.jpg?s=612x612&w=0&k=20&c=gvfYyWVP2lwiC9mtRlleVNGRy7USMwgNXndMLeisAKo=") center/cover no-repeat;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.35);
}


.navbar {
    width: 100%;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 10;
}

.logo img {
    width: 130px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}

.menu li a:hover {
    color: #f0a500;
}


.quote-btn {
    background: #f0a500;
    color: #000;
    padding: 12px 25px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
}
.quote-btn1{
    background: white;
    color: #000;
    padding: 12px 25px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
    
}

.btn-group {
    display: flex;
    gap: 5px; 
}


.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 10;
}

.header-content h1 {
    font-size: 60px;
    font-weight: bold;
}

.header-content p {
    margin: 15px 0 30px;
    font-size: 20px;
}

.btn {
    background: #f0a500;
    padding: 12px 25px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.big-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 250px;   
    font-weight: 700;
    color: rgba(255, 255, 255, 0.07); 
    z-index: -1;        
    letter-spacing: 20px;
    
}
